DEV-1/DEV-1/bin/
DEV-1/DEV-1/obj/
DEV-2/DEV-2/DEV-2/bin/
DEV-2/DEV-2/DEV-2/obj/
DEV-3/DEV-3/DEV-3/bin/
DEV-3/DEV-3/DEV-3/obj/
DEV-5/DEV-5/DEV-5/bin/
DEV-5/DEV-5/DEV-5/obj/
DEV-6/DEV-6/DEV-6/bin/
DEV-6/DEV-6/DEV-6/obj/
*.vs
